name: Publish Package

on:
  push:
    tags:
      - 'surimi@*'
      - 'compiler@*'
      - 'vite-plugin-surimi@*'

permissions:
  contents: write
  id-token: write

jobs:
  publish:
    environment: prod
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: https://registry.npmjs.org/
          cache: 'pnpm'

      - name: Install
        run: pnpm install --frozen-lockfile --prefer-offline
      - run: pnpm run build:ci

      - name: Publish to npm
        run: pnpm run publish-ci --tag="$REF_NAME"
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      # Not generating releases until changelogen supports monorepos
      # - name: Generate Changelog
      #   run: pnpm dlx changelogithub
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
